
/*--------------HEADER----------------*/
#home_nav { 
    background-color: rgb( 0, 78, 163 );
    color: white;
    border-radius: 4px;
    opacity: 1;
}
    #header a:hover {
        opacity:1;
        text-decoration: none;
    }

/*---------------BODY------------------*/

#main_container {
    min-height: 100%;
    position: relative;
}


#body_container {
    text-align: center;
    min-height: 100%;
    background-color: white;
}

#cover_inner {
    width:100%;
    background-color:  rgb( 61, 61, 61 );    
    height:300px;
   /* box-shadow: inset 0px -1px 13px;
    background-image:url('../images/background_pattern.png');*/

}
#cover_header {
    margin-top: 0;
    color:white;
    padding-top: 60px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size:2em;
}

#cover_text {
    width: 700px;
    margin: auto;
    color: white;
    font-family: 'proxima-nova', Helvetica, Arial, sans-serif;
    font-size: 1em;
    padding-bottom: 30px;
    font-weight: lighter;
}

.project_text {
    color:white;
    font-family: 'proxima-nova', Helvetica, Arial, sans-serif;
    font-size: 1em;
    padding-bottom: 30px;
    padding-right: 20px;
    font-weight: lighter;
}

.project_header {
    color: white;
    padding-top: 20px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    margin: auto;
    font-size: 22px;
}

#middle_button,
.slider_button {
    display: inline-block;
    padding: 10px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    border: none;
    box-shadow: 0px 1px 1px;
    border-radius: 3px;
    font-weight: bold;
    font-size: 13px;
}
    .slider_button:hover {
        opacity:0.9;
    }

    .show_slider .slider_button {
        display:none;
    }
    .show_slider #middle_button {
        display:none;
    }

    #middle_button:hover {
        opacity: 0.9;
    }
#middle_button,
#left_button,
#right_button {
    background-color: white;
}

#left_button,
#right_button {
    display:none;
}

#skills_row {
    padding-top: 50px;
    height: 340px;
    text-align: center;
}

.skills {
    display: inline-block;
    width:250px;
    margin-left: 10px;
    margin-right: 10px;
    height: 340px;
}

.projects {
    height: 335px;
    display: inline-block;
    vertical-align: top;
    width: 250px;
    margin: 25px 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 2px inset;
}
.narrow_element {
    display: block;
}
.wide_element {
    display: none;
}
.project_link {
    color:white;
    text-decoration: none;
    font-style: italic;
}
    a.project_link:hover {
        font-style: bold;
    }
.skills_image {
    height:120px;
    width: 120px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.8;
}

.skill_title {
    margin-left: auto;
    margin-right: auto;
    font-size: 17px;
    color: black;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}
.skill_summary {
    padding-top: 5px;
    margin-left: auto;
    margin-right: auto;
    font-size: 13px;
    color: black;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

#balanced {
    height: 100px;
    width: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
}

/*------------OVERLAY---------------*/
#main_overlay {
    height:100%;
    width:100%;
    z-index: 1000;
    position: absolute;
    top:0;
    left:0;
    background-color: rgb( 20,20,20 );
    display:block;
    -transition-duration: 0.5s;
    -moz-transition-duration: .5s;
    -webkit-transition-duration: .5s;
    -webkit-transform: translate3d( 0, -105%, 0 );
    -transform: translate3d( 0, -105%, 0 );
    -moz-transform: translate3d( 0, -105%, 0 );
}
.showOverlay #main_overlay {
    -webkit-transform: translate3d( 0, 0, 0 );
    -transform: translate3d( 0, 0, 0 );
    -moz-transform: translate3d( 0, 0, 0 );
}

.showOverlay #main_container {
    display:none;
}

#overlay_inner {
    background-color: rgb( 20,20,20 );
}

#overlay_inner {
    height:100%;
    width:100%;
    text-align: center;
}

#overlay_background {
    overflow: hidden;
    height: 100%;
}
#overlay_image {
    width:880px;
    margin: auto;
    display: inline-block;
}

#overlay_text {
    display:inline-block;
    color: white;
    position:absolute;
    top: 50px;
    z-index: 1000;
    width: 100%;
    left: 0;
}
#overlay_text h1 {
    color: white !important;
    font-style: normal;
    font-weight: lighter;
    font-size: 5em;
    line-height: 1em;
    padding-bottom: 0;
    margin-bottom: 0;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}
#overlay_text h2 {
    margin-top: 0;
    margin-bottom: 10px;
    font-family: Impact, Charcoal, sans-serif;
    line-height:1em;
    font-size: 2.3em;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    color: rgb(133, 40, 177);
}
/*------------FOOTER----------------*/

#bottom_nav {
    width:100%;
    height: 70px;
    position: absolute;
    bottom:0;
  /*  box-shadow: inset 0px -1px 13px; */
   /* background-image:url('../images/background_pattern.png');*/
}

/*-------------SLIDER PAGES----------------*/

.slide {
  position: absolute;
 /* box-shadow: inset 0px -1px 13px;*/
  height:385px;
  max-height: 385px;
  display:none;
  text-align: center;
}
#right_inner,
#left_inner {
    background-color: rgb(24, 117, 168);;
   /* background-image:url('../images/background_pattern.png');*/
    display:block;
    text-align: center;
    max-height: 385px;
    height: 385px;
    width: 100%;
   /* box-shadow: inset 0px -1px 13px;*/
    overflow: hidden;
}
#left_slider {
    right: auto;
    left: 0;
    -transform:translate3d( -105%, 0, 0 );
    -transition-duration: 0.5s;
    -moz-transform:translate3d( -105%, 0, 0 );
    -moz-transition-duration: .5s;
    -webkit-transform:translate3d( -105%, 0, 0 );
    -webkit-transition-duration: .5s;

}
    #left_slider.animate {
        -transition:translate3d( 0, 0, 0 );
        -moz-transform:translate3d( 0, 0, 0 );
        -webkit-transform:translate3d( 0, 0, 0 );
    }

#right_slider {
    right: 0;
    left: auto;
    -transform:translate3d( 105%, 0, 0 );
    -transition-duration: 0.5s;
    -moz-transform:translate3d( 105%, 0, 0 );
    -moz-transition-duration: .5s;
    -webkit-transform:translate3d( 105%, 0, 0 );
    -webkit-transition-duration: .5s;
}
    #right_slider.animate {
        -transition:translate3d( 0, 0, 0 );
        -moz-transform:translate3d( 0, 0, 0 );
        -webkit-transform:translate3d( 0, 0, 0 );
    }

#left_slider,
#right_slider,
#cover_inner,
#bottom_nav {
    background-color: rgb(24, 117, 168);
}

.project_image {
    display:none;
    width: 200px;
    padding-top: 20px;
    margin-right: auto;
    margin-left: auto;
}

.arrow_down {
    width: 0; 
    height: 0; 
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid rgb(24, 117, 168);
    top: 463px;
    position: absolute;
    z-index: 100;
    left: 300px;
}

/*----------MID_SMALL SIZE SLIDER--------*/
.projects_small {
    display : none;
    width: 75%;
    margin:auto;
    padding-top: 30px;
}
.projects_small_header {
    color: white;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    margin: auto;
    font-size: 22px;
}
.projects_small_text {
    color:white;
    font-family: 'proxima-nova', Helvetica, Arial, sans-serif;
    font-size: 1em;
    font-weight: lighter;
}
/*--------------LARGE_VIEW--------------*/
@media screen and ( min-width: 1400px ) {
    .skills {
        width: 400px;
    }
    .projects {
        width: 400px;
    }
    .wide_element {
        display: block;
    }
    .narrow_element {
        display:none;
    }
    .flip-container {
        margin-left:80px !important;
        margin-right:80px !important;
        margin-bottom: 20px;
    }
}
/*--------------MID-SIZE VIEW-----------*/
@media all and ( max-width: 900px ) {
    .projects_small {
        display: block;
    }
    .skills {
        margin: auto;
        display: block;
    }
    #skills_row {
        height: 985px;
        padding-top: 25px;
    }

    #cover_text {
        width: 75%;
    }
    .projects {
        display:none;
    }
    .flip-container {
        display:block !important;
        margin-left:auto !important;
        margin-right:auto !important;
        margin-bottom: 20px;
    }
    .projects_row {
        height: 910px !important;
    }
}
/*-----------NARROW VIEW---------------*/

@media screen and ( max-width: 640px ) {
    .projects_small {
        padding-top: 20px;
    }
}

/*---------SLIDER_TABS---------------*/
#slider_tabs {
    padding-top: 0px;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-padding-start: 0;
    text-align:left;
}

/*--------------CONTACT_ROW------------*/
#contact_row {
    height: 90px;
    width: 100%;
    background-color: rgba(10, 28, 36, 0.8);
    text-align: center;
    display: table;
}
#contact_row p {
    font-family: 'proxima-nova', Helvetica, Arial, sans-serif;
    color:white;
    display:inline-block;
    font-size: 1.1em;
    font-weight: lighter;
}

#contact_inner {
    margin-bottom: auto;
    margin-top: auto;
    display: table-cell;
    vertical-align: middle;
}
/*---------------PROJECTS_ROWS----------*/
.projects_row {
    height:390px;
    width:100%;
    text-align: center;
    display:block;
    padding-top: 45px;
    border-top: 1px solid rgba(136, 136, 136, 0.8);
}

.technical {
    height: 305px;
    background-color: rgba(213, 213, 213, 0.7);
}
.non-technical {
    background-color:rgba(202, 203, 214, 0.8);
}
.projects_row h1 {
    padding: 0;
    margin: auto;
    color:white;
    font-family: "Trebuchet MS", Helvetica, sans-serif; 
    font-weight: 100;
    font-style: normal;
    padding-top: 110px;
    width: 100%;
}

/* entire container, keeps perspective */
.flip-container {
    -webkit-perspective: 1500;
    display:inline-block;
    margin-right: 20px;
    margin-left: 20px;
}

    /* flip the pane when hovered */
    .flip-container.hover .flipper {
        -webkit-transform: rotateY(180deg);
    }

.flip-container {
    width: 250px;
    height: 275px;
}
.front, .back {
    width: 250px;
    height: 275px;
    border-radius: 15px;
}

/* flip speed goes here */
.flipper {
    -webkit-transition: 0.8s;
    -webkit-transform-style: preserve-3d;

    position: relative;
}

/* hide back of pane during swap */
.front, .back {
    -webkit-backface-visibility: hidden;

    position: absolute;
    top: 0;
    left: 0;
}

/* front pane, placed above back */
.front {
    z-index: 2;
}

.technical .front {
    background-color: rgba( 207, 77, 77, 1 );
}

.non-technical .front {
    background-color: rgba(70, 107, 131, 1);
}

/* back, initially hidden pane */
.back {
    -webkit-transform: rotateY(180deg);
    background-color:rgba( 255, 255, 255, 1 );
    box-shadow: 0px 0px 1px rgb( 1,1,1 );
}

.back ul {
    padding-left: 0;
}
.back li {
    padding-left: 15px;
}
.back a {
    text-decoration: none;
}

.back a li {
    text-decoration: none;
    color: black;
    font-style: italic;
}
/*---------------TOPNAV---------------
#main_container {
	width: 100%;
	height: 100%;
	background-color: white;
}

#top_bar {
	height: 70px;
	background-color: #157EED;
	-moz-box-shadow:    1px 2px 1px 0px black;
  	-webkit-box-shadow: 1px 2px 1px 0px black;
  	box-shadow:         1px 2px 1px 0px black;
}

#nav_bar {
    display:inline-block;
    float:right;
}

.topnav {
    font-size: 1em;
    opacity:0.6;
    color: white;
    padding-right: 5px;
}
	.topnav:hover {
        opacity:1;
        text-decoration: none;
    }

#header a {
    font-weight: bold;
    color:white;
}*/