
/*--------------HEADER----------------*/
#home_nav { 
    background-color: rgb( 0, 78, 163 );
    color: white;
    border-radius: 4px;
    opacity: 1;
}
    #header a:hover {
        opacity:1;
        text-decoration: none;
    }

/*---------------BODY------------------*/

#main_container {
    min-height: 100%;
    position: relative;
}


#body_container {
    text-align: center;
    min-height: 100%;
    background-color: white;
}

#cover_inner {
    width:100%;
    background-color:  rgb( 61, 61, 61 );    
    height:300px;

}
#cover_header {
    margin-top: 0;
    color:white;
    padding-top: 60px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size:2em;
}

#cover_text {
    width: 700px;
    margin: auto;
    color: white;
    font-family: 'proxima-nova', Helvetica, Arial, sans-serif;
    font-size: 1em;
    padding-bottom: 30px;
    font-weight: lighter;
}

.project_text {
    color:white;
    font-family: 'proxima-nova', Helvetica, Arial, sans-serif;
    font-size: 1em;
    padding-bottom: 30px;
    padding-right: 20px;
    font-weight: lighter;
}

.project_header {
    color: white;
    padding-top: 20px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    margin: auto;
    font-size: 22px;
}

#middle_button {
    display: inline-block;
    padding: 10px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    border: none;
    box-shadow: 0px 1px 1px;
    border-radius: 3px;
    font-weight: bold;
    font-size: 13px;
    background-color: white;
}

    #middle_button:hover {
        opacity: 0.9;
    }

#skills_row {
    padding-top: 50px;
    height: 340px;
    text-align: center;
}

.skills {
    display: inline-block;
    width:250px;
    margin-left: 10px;
    margin-right: 10px;
    height: 340px;
}

.projects {
    height: 335px;
    display: inline-block;
    vertical-align: top;
    width: 250px;
    margin: 25px 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 2px inset;
}
.narrow_element {
    display: block;
}
.wide_element {
    display: none;
}
.project_link {
    color:white;
    text-decoration: none;
    font-style: italic;
}
    a.project_link:hover {
        font-style: bold;
    }
.skills_image {
    height:120px;
    width: 120px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.8;
}

.skill_title {
    margin-left: auto;
    margin-right: auto;
    font-size: 17px;
    color: black;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}
.skill_summary {
    padding-top: 5px;
    margin-left: auto;
    margin-right: auto;
    font-size: 13px;
    color: black;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

#balanced {
    height: 100px;
    width: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
}

/*------------OVERLAY---------------*/
#main_overlay {
    height:100%;
    width:100%;
    z-index: 1000;
    position: absolute;
    top:0;
    left:0;
    background-color: rgb( 20,20,20 );
    display:block;
    -transition-duration: 0.5s;
    -moz-transition-duration: .5s;
    -webkit-transition-duration: .5s;
    -webkit-transform: translate3d( 0, -115%, 0 );
    -transform: translate3d( 0, -115%, 0 );
    -moz-transform: translate3d( 0, -115%, 0 );
    -webkit-transition-timing-function: ease-in;
    -moz-transition-timing-function: ease-in;
    -transition-timing-function: ease-in;
}
.showOverlay #main_overlay {
    -webkit-transform: translate3d( 0, 0, 0 );
    -transform: translate3d( 0, 0, 0 );
    -moz-transform: translate3d( 0, 0, 0 );
}

.showOverlay #main_container {
    display:none;
}

#overlay_inner {
    background-color: rgb( 20,20,20 );
}

#overlay_inner {
    height:100%;
    width:100%;
    text-align: center;
}

#overlay_background {
    overflow: hidden;
    height: 100%;
}
#overlay_image {
    background-image:url('../images/stage.jpg');
    height: 100%;
    min-height: 610px;
    max-height: 990px;
    background-repeat: no-repeat;
    background-position: 45% 100%;
    background-size: auto 93%;
    margin-left: -200px;
}

#overlay_text {
    display:table;
    color: white;
    position:absolute;
    z-index: 1000;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}
#overlay_text h1 {
    color: white !important;
    font-style: normal;
    font-weight: lighter;
    font-size: 5em;
    line-height: 1em;
    padding-bottom: 0;
    margin-bottom: 0;
    font-family: Impact, Charcoal, sans-serif;
    vertical-align: middle;
    display: table-cell;
}
#overlay_text h2 {
    position:absolute;
    right:10px;
    bottom: 0;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    font-family: Impact, Charcoal, sans-serif;
    font-size: 1.5em; 
    opacity: 0.8
}



.secondary_header {
    line-height:0.6em;
    font-size: 0.6em;
    color: rgb(133, 40, 177);
}

.arrow_wrapper {
    line-height: 0.6em;
}

.arrow_right {
    width: 0; 
    height: 0; 
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid white;
    opacity: 0.8;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
}
    .arrow_right:hover {
        opacity: 1;
    }
/*------------FOOTER----------------*/

#bottom_nav {
    width:100%;
    height: 70px;
    position: absolute;
    bottom:0;
  /*  box-shadow: inset 0px -1px 13px; */
   /* background-image:url('../images/background_pattern.png');*/
}

#cover_inner,
#bottom_nav {
    background-color: rgb(24, 117, 168);
}

#bottom_nav {
    text-align: center;
}
    #bottom_nav p {
        margin-left: auto;
        margin-right: auto;
        margin-top: 27px;
        color: white;
        font-weight: lighter;
        font-size: 13px;
        float:right;
        padding-right: 20px;
    }

.project_image {
    display:none;
    width: 200px;
    padding-top: 20px;
    margin-right: auto;
    margin-left: auto;
}

.arrow_down {
    width: 0; 
    height: 0; 
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid rgb(24, 117, 168);
    top: 463px;
    position: absolute;
    z-index: 100;
    left: 300px;
}

/*----------MID_SMALL SIZE SLIDER--------*/
.projects_small {
    display : none;
    width: 75%;
    margin:auto;
    padding-top: 30px;
}
.projects_small_header {
    color: white;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    margin: auto;
    font-size: 22px;
}
.projects_small_text {
    color:white;
    font-family: 'proxima-nova', Helvetica, Arial, sans-serif;
    font-size: 1em;
    font-weight: lighter;
}
/*--------------LARGE_VIEW--------------*/
@media screen and ( min-width: 1400px ) {
    .skills {
        width: 400px;
    }
    .projects {
        width: 400px;
    }
    .wide_element {
        display: block;
    }
    .narrow_element {
        display:none;
    }
    .flip_container {
        margin-left:80px !important;
        margin-right:80px !important;
        margin-bottom: 20px;
    }
}
/*--------------MID-SIZE VIEW-----------*/
@media all and ( max-width: 900px ) {
    .projects_small {
        display: block;
    }
    .skills {
        margin: auto;
        display: block;
    }
    #skills_row {
        height: 985px;
        padding-top: 25px;
    }

    #cover_text {
        width: 75%;
    }
    .projects {
        display:none;
    }
    .flip_container {
        display:block !important;
        margin-left:auto !important;
        margin-right:auto !important;
        margin-bottom: 20px;
    }
    .technical {
        height: 910px !important;
    }
    .non-technical {
        height: 980px !important;
    }
}
/*-----------NARROW VIEW---------------*/

@media screen and ( max-width: 640px ) {
    .projects_small {
        padding-top: 20px;
    }
    #cover_inner {
        height: 350px !important;
    }
    .arrow_down {
        top: 513px;
        left: 200px;
    }
}

/*---------SLIDER_TABS---------------*/
#slider_tabs {
    padding-top: 0px;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-padding-start: 0;
    text-align:left;
}

/*--------------CONTACT_ROW------------*/
#contact_row {
    height: 90px;
    width: 100%;
    background-color: rgba(10, 28, 36, 0.8);
    text-align: center;
    display: table;
}
#contact_row p {
    font-family: 'proxima-nova', Helvetica, Arial, sans-serif;
    color:white;
    display:inline-block;
    font-size: 1.1em;
    font-weight: lighter;
}

#contact_inner {
    margin-bottom: auto;
    margin-top: auto;
    display: table-cell;
    vertical-align: middle;
}
/*---------------PROJECTS_ROWS----------*/
.projects_row {
    height:390px;
    width:100%;
    text-align: center;
    display:block;
    padding-top: 45px;
    border-top: 1px solid rgba(136, 136, 136, 0.8);
}

.technical {
    height: 305px;
    background-color: rgba(213, 213, 213, 0.7);
}
.non-technical {
    background-color:rgba(202, 203, 214, 0.8);
}
.projects_row h1 {
    padding: 0;
    margin: auto;
    color:white;
    font-family: "Trebuchet MS", Helvetica, sans-serif; 
    font-weight: 100;
    font-style: normal;
    padding-top: 110px;
    width: 100%;
}

/*----------------FLIPPER_BEHAVIOUR-------------*/
.flip_container {
    -webkit-perspective : 1500;
    -moz-perspective    : 1500;
    -perspective        : 1500;
    display:inline-block;
    margin-right: 20px;
    margin-left: 20px;
}

    .flip_container.flip-it .flipper {
        -webkit-transform   : rotateY( 180deg );
        -moz-transform      : rotateY( 180deg );
        -transform          : rotateY( 180deg );
    }

.flip_container {
    width: 250px;
    height: 275px;
}

.flipper {
    -webkit-transition      : 0.8s;
    -moz-transition         : 0.8s;
    -transition             : 0.8s;
    -webkit-transform-style : preserve-3d;
    -moz-transform-style    : preserve-3d;
    -transform-style        : preserve-3d;

    position: relative;
}

.front, .back {
    width: 250px;
    height: 275px;
    border-radius: 15px;
    -webkit-backface-visibility : hidden;
    -moz-backface-visibility    : hidden;
    -backface-visibility        : hidden;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
}


.front {
    z-index: 2;
}

.technical .front {
    background-color: rgba( 207, 77, 77, 1 );
}

.non-technical .front {
    background-color: rgba(70, 107, 131, 1);
}

.back {
    -webkit-transform   : rotateY( 180deg );
    -moz-transform      : rotateY( 180deg) ;
    -transform          : rotateY( 180deg );
    background-color:rgba( 255, 255, 255, 1 );
    box-shadow: 0px 0px 1px rgb( 1,1,1 );
}

.back ul {
    padding-left: 0;
}
.back li {
    padding-left: 15px;
}
.back a {
    text-decoration: none;
}

.back a li {
    text-decoration: none;
    color: black;
    font-style: italic;
}