
/*--------------HEADER----------------*/
#home_nav { 
    background-color: rgb( 0, 78, 163 );
    color: white;
    border-radius: 4px;
    opacity: 1;
}
    #header a:hover {
        opacity:1;
        text-decoration: none;
    }

/*---------------BODY------------------*/

#main_container {
    min-height: 100%;
    position: relative;
}

#body_container {
    text-align: center;
    min-height: 100%;
    background-color: white;
}

#cover_inner {
    width:100%;
    background-color:  rgb( 61, 61, 61 );    
    height:385px;
    box-shadow: inset 0px -1px 13px;
    background-image:url('../images/background_pattern.png');

}
#cover_header {
    margin-top: 0;
    color:white;
    padding-top: 60px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size:2em;
}

#cover_text {
    width: 700px;
    margin: auto;
    color: white;
    font-family: 'proxima-nova', Helvetica, Arial, sans-serif;
    font-size: 1em;
    padding-bottom: 30px;
    font-weight: lighter;
}

.project_text {
    color:white;
    font-family: 'proxima-nova', Helvetica, Arial, sans-serif;
    font-size: 1em;
    padding-bottom: 30px;
    padding-right: 20px;
    font-weight: lighter;
}

.project_header {
    color: white;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    margin: auto;
    font-size: 22px;
}

#middle_button,
.slider_button {
    display: inline-block;
    padding: 10px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    border: none;
    box-shadow: 2px 2px 1px;
    border-radius: 3px;
    font-weight: bold;
    font-size: 13px;
}
    .slider_button:hover {
        opacity:0.9;
    }

    .show_slider .slider_button {
        display:none;
    }

    #middle_button {
        background-color: rgb(68, 238, 245);
    }

    #middle_button:hover {
        opacity: 0.9;
    }
    
#left_button,
#right_button {
    background-color: white;
}
#skills_row {
    padding-top: 50px;
    padding-bottom: 50px;
    height: 360px;
    text-align: center;
}

.skills {
    display: inline-block;
    width:250px;
    margin-left: 20px;
    height: 360px;
}

.projects {
    height: 335px;
    display: inline-block;
    vertical-align: top;
    width: 250px;
    margin: 25px 10px;
    border-radius: 10px;
    box-shadow: 0px 1px 20px inset;
}

.skills_image {
    height:120px;
    width: 120px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.7;
}

.skill_title {
    margin-left: auto;
    margin-right: auto;
    font-size: 17px;
    color: black;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}
.skill_summary {
    padding-top: 5px;
    margin-left: auto;
    margin-right: auto;
    font-size: 13px;
    color: black;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

#balanced {
    height: 100px;
    width: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
}
/*------------FOOTER----------------*/

#bottom_nav {
    width:100%;
    height: 90px;
    position: absolute;
    bottom:0;
    box-shadow: inset 0px -1px 13px;
    background-image:url('../images/background_pattern.png');
}

/*-------------SLIDER PAGES----------------*/

.slide {
  position: absolute;
  box-shadow: inset 0px -1px 13px;
  height:385px;
  max-height: 385px;
  display:none;
  text-align: center;
}
#right_inner,
#left_inner {
    background-color: rgb( 13, 83, 122 );
    background-image:url('../images/background_pattern.png');
    display:block;
    text-align: center;
    max-height: 385px;
    height: 385px;
    width: 100%;
    box-shadow: inset 0px -1px 13px;
}
#left_slider {
    right: auto;
    left: 0;
    -webkit-transform:translate3d( -105%, 0, 0 );
    -webkit-transition-duration: .5s;

}
    #left_slider.animate {
        -webkit-transform:translate3d( 0, 0, 0 );
    }

#right_slider {
    right: 0;
    left: auto;
    -webkit-transform:translate3d( 105%, 0, 0 );
    -webkit-transition-duration: .5s;
}
    #right_slider.animate {
        -webkit-transform:translate3d( 0, 0, 0 );
    }

#left_slider,
#right_slider,
#cover_inner,
#bottom_nav {
    background-color: rgb( 13, 83, 122 );
}

.project_image {
    width: 200px;
    padding-top: 20px;
    margin-right: auto;
    margin-left: auto;
}
/*--------------MID-SIZE VIEW-----------*/
@media only screen 
and ( max-width: 850px ) {
    .skills {
        margin: auto;
        display: block;
    }
    #skills_row {
        height: 1080px;
    }

    #cover_text {
        width: 75%;
    }
    .projects {
        display:none;
    }
}
/*-----------NARROW VIEW---------------*/

@media screen and ( max-width: 640px ) {

}
/*---------------TOPNAV---------------
#main_container {
	width: 100%;
	height: 100%;
	background-color: white;
}

#top_bar {
	height: 70px;
	background-color: #157EED;
	-moz-box-shadow:    1px 2px 1px 0px black;
  	-webkit-box-shadow: 1px 2px 1px 0px black;
  	box-shadow:         1px 2px 1px 0px black;
}

#nav_bar {
    display:inline-block;
    float:right;
}

.topnav {
    font-size: 1em;
    opacity:0.6;
    color: white;
    padding-right: 5px;
}
	.topnav:hover {
        opacity:1;
        text-decoration: none;
    }

#header a {
    font-weight: bold;
    color:white;
}*/